@charset "utf-8";
/* CSS Document */

body, html {
	width:100%;
	height: 100%;
	font-family:"Arial Black",Gadget, sans-serif;
	color:#FF0000;
	margin: 0;
}
h1{
	font-weight:bold;
	font-size:250%;
	color:#666666;
	margin-top: 0px;
}
#header {
	height: 20%;
	text-align: center;
	background-image:url('Images/matrixcoderain.gif');
}
#leftcol {
	width: 25%;
	margin: 0;
	float: left;
	background-color: rgba(#000000);
	background-image: none;
}
.leftcol ul {
	list-style: none;
	padding:0;
	margin:0;
}
.leftcol li {
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}
.leftcol li a {
	padding: 0 1em;
}
.leftcol #selected {
	padding-bottom: 1px; 
	background: white;
}
#content {
	width: 75%;
	margin: 0;
	float: right;
}