@charset "utf-8";
/* CSS Document */

body, html {
	width:100%;
	height: 100%;
	font-family:"Arial Black",Gadget, sans-serif;
	color:#FF0000;
	margin: 0;
	background-color: #000000;
}
h1{
	font-weight:bold;
	font-size:250%;
	color:#666666;
	margin-top: 0;
}
h2 {
	margin-top: 0;
}
#header {
	height: 30%;
	background-image:url('Images/matrixcoderain.gif');
}
#content {
	margin: 0;
}
#tabs {
	border-bottom: .2em solid #FF0000;
	margin: 0;
	padding: 0;
}
#tabs li { 
	display:inline; 
	border-top: .2em solid #FF0000;
	border-left: .2em solid #FF0000;
	border-right: .2em solid #FF0000;
}
#tabs li a {
	text-decoration: none;
	padding: 0.25em 1em;
	color: #fff;
} 
#page1 #tabs li#tab1 a, #page2 #tabs li#tab2 a, #page3 #tabs li#tab3 a, .page4 #tab4 a{
	padding: 0.25em 1em;
	background-color: #FF0000;
	color: #fff;
} 
